<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Melee: All Trophies Tracker</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://unpkg.com/cssremedy@0.1.0-beta.2/css/remedy.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <!-- <script defer type="text/javascript" src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script> -->
    <script defer type="text/javascript" src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    <script defer type="text/javascript" src="scripts/data.js"></script>
    <script defer type="text/javascript" src="scripts/main.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <img
        v-if="language === 'jp'"
        src="images/dx-logo.png"
        class="logo-dx"
        alt="大乱闘スマッシュブラザーズＤＸ"
      />
      <img
        v-else
        src="images/melee-logo.png"
        class="logo"
        alt="Super Smash Bros. Melee"
      />

      <h1 v-if="language === 'jp'">"全てフィギュア"</h1>
      <h1 v-else>"All Trophies"</h1>

      <h2 v-if="language === 'jp'">スピードラントラッカー</h2>
      <h2 v-else>Speedrun Tracker</h2>

      <a href="#" title="Scroll to top" class="go-to-top">⬆️</a>

      <div>
        <div>
          <label><strong>Language: </strong></label>
          <span
            v-text="'EN-US'"
            class="cursor"
            :class="{ underline: language === 'en-us' }"
            @click="language = 'en-us'"
          ></span> |
          <span
            v-text="'JP'"
            class="cursor"
            :class="{ underline: language === 'jp' }"
            @click="language = 'jp'"
          ></span>
        </div>

        <div>
          <label>
            <strong>Trohpy Size:</strong>
            <input type="range" v-model="reductionRatio" min="1" max="10000" />
            {{ reductionRatio / 100 }}%
          </label>
        </div>
      </div>

      <table id="trophy-list">
        <thead>
          <tr>
            <th
              v-for="header in headers"
              :class="header.class"
            >{{ header.name }}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th
              v-for="(header, headerIndex) in headers"
              :class="header.class"
              :width="floatingHeaders[headerIndex]"
            >{{ header.name }}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><input v-model="filterName"></th>
            <th><input v-model="filterNameJP"></th>
            <th>
              <select v-model="filterSmash">
                <option :value="null">All</option>
                <option :value="true">true</option>
                <option :value="false">false</option>
              </select>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr
            v-for="(trophy, trophyIndex) in filteredTrophies"
            :key="trophy.id"
            :class="{ acquired: trophiesAcquired[trophy.id] }"
            :id="trophy.imageIndex"
            @click.stop="toggleTrohpyAcquired(trophy.id)"
          >
            <td
              class="center"
              @click.stop
            >
              <a
                class="trophy-link"
                :href="'#' + trophy.id"
                :title="'ID: ' + trophy.id"
              >
                <svg
                  viewbox="0 0 442.246 442.246"
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                >
                  <path d="M409.66 32.47c-43.15-43.14-113.84-43.14-156.98 0l-84.76 84.77c29.07-8.27 60.58-6.12 88.12 6.73l44.07-44.07a43.96 43.96 0 0 1 62.12 0 43.96 43.96 0 0 1 0 62.12l-55.39 55.39-36.41 36.41a43.96 43.96 0 0 1-62.12 0l-47.43 47.43a108.18 108.18 0 0 0 37.33 24.48 112.05 112.05 0 0 0 110.47-16.22c3.06-2.44 6.42-5.2 9.18-8.26l57.22-57.22 34.58-34.58c43.45-43.14 43.45-113.52 0-156.98z"/>
                  <path d="m184.13 320.11-42.22 42.23a43.95 43.95 0 0 1-62.12 0 43.96 43.96 0 0 1 0-62.12l91.8-91.8a43.96 43.96 0 0 1 62.12 0L281.14 161a108.2 108.2 0 0 0-37.33-24.48 111.27 111.27 0 0 0-115.37 20.5 54.7 54.7 0 0 0-4.28 3.99l-91.8 91.8c-43.15 43.14-43.15 113.83 0 156.97 43.15 43.15 113.83 43.15 156.98 0l82.92-83.84c-42.22 9.79-52.02 8.57-88.13-5.82z"/>
                </svg>
              </a>
            </td>
            <td class="center"><input
              v-model="trophiesAcquired[trophy.id]"
              type="checkbox"
              class="trophy-checkbox"
            /></td>
            <td class="center"><div
              class="sprite"
              :style="styling(trophy.imageIndex)"
            ></div></td>
            <td>{{ trophy.name }}</td>
            <td>{{ trophy.nameJP }}</td>
            <td class="center"><span v-if="trophy.smash" class="smash-pill">SMASH</span></td>
            <td class="center">{{ trophy.sortBy.normal }}</td>
            <td class="center">{{ trophy.sortBy.game }}</td>
            <td class="center">{{ trophy.sortBy.aZ }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
