<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Melee: All Trophies Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/cssremedy@0.1.0-beta.2/css/remedy.css">
    <link rel="stylesheet" href="styles/style.css">
    <script defer type="text/javascript" src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <script defer type="text/javascript" src="scripts/data.js"></script>
    <script defer type="text/javascript" src="scripts/main.js"></script>
  </head>
  <body>
    <img
      src="images/melee-logo.png"
      class="logo"
      alt="Super Smash Bros. Melee"
    />
    <h1>"All Trophies"</h1>
    <h2>Speedrun Tracker</h2>
    <div id="app">
      <table>
        <thead>
          <tr>
            <th>Trophy</th>
            <th>Name</th>
            <th>Smash</th>
            <th>Normal</th>
            <th>Game</th>
            <th>A-Z</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Trophy</th>
            <th>Name</th>
            <th>Smash</th>
            <th>Normal</th>
            <th>Game</th>
            <th>A-Z</th>
          </tr>
        </tfoot>
        <tbody>
          <tr
            v-for="trophy in trophies"
            :id="trophy.imageIndex"
          >
            <td><a
              class="sprite"
              :href="'#' + trophy.imageIndex"
              :style="styling(trophy.imageIndex)"
            >{{ trophy.imageIndex }}</a></td>
            <td>{{ trophy.name }}</td>
            <td><span v-if="trophy.smash" class="smash-pill">SMASH</span></td>
            <td>{{ trophy.sortBy.normal }}</td>
            <td>{{ trophy.sortBy.game }}</td>
            <td>{{ trophy.sortBy.aZ }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
