<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Melee: All Trophies Tracker</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="https://unpkg.com/cssremedy@0.1.0-beta.2/css/remedy.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <!-- <script defer type="text/javascript" src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script> -->
    <script defer type="text/javascript" src="https://unpkg.com/vue@3.2.37/dist/vue.global.js"></script>
    <script defer type="text/javascript" src="scripts/data.js"></script>
    <script defer type="text/javascript" src="scripts/main.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <img
        v-if="language === 'jp'"
        src="images/dx-logo.png"
        class="logo-dx"
        alt="大乱闘スマッシュブラザーズＤＸ"
      />
      <img
        v-else
        src="images/melee-logo.png"
        class="logo"
        alt="Super Smash Bros. Melee"
      />

      <h1 v-if="language === 'jp'">"全てフィギュア"</h1>
      <h1 v-else>"All Trophies"</h1>

      <h2 v-if="language === 'jp'">スピードラントラッカー</h2>
      <h2 v-else>Speedrun Tracker</h2>

      <a href="#" title="Scroll to top" class="go-to-top">⬆️</a>

      <div>
        <div>
          <label><strong>Language: </strong></label>
          <span
            v-text="'EN-US'"
            class="cursor"
            :class="{ underline: language === 'en-us' }"
            @click="language = 'en-us'"
          ></span> |
          <span
            v-text="'JP'"
            class="cursor"
            :class="{ underline: language === 'jp' }"
            @click="language = 'jp'"
          ></span>
        </div>

        <div>
          <label>
            <strong>Trohpy Size:</strong>
            <input type="range" v-model="reductionRatio" min="1" max="10000" />
            {{ reductionRatio / 100 }}%
          </label>
        </div>
      </div>

      <table id="trophy-list">
        <thead>
          <tr>
            <th
              v-for="header in headers"
              :class="header.class"
            >{{ header.name }}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th
              v-for="(header, headerIndex) in headers"
              :class="header.class"
              :width="floatingHeaders[headerIndex]"
            >{{ header.name }}</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><input v-model="filterName"></th>
            <th><input v-model="filterNameJP"></th>
            <th>
              <select v-model="filterSmash">
                <option :value="null">All</option>
                <option :value="true">true</option>
                <option :value="false">false</option>
              </select>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr
            v-for="(trophy, trophyIndex) in filteredTrophies"
            :key="trophy.id"
            :id="trophy.imageIndex"
          >
            <td
              class="center"
            ><a
              class="trophy-link"
              :href="'#' + trophy.id"
              :title="'ID: ' + trophy.id"
            >🔗</a></td>
            <td class="center"><input
              v-model="trophiesAcquired[trophy.id]"
              type="checkbox"
              class="trophy-checkbox"
            /></td>
            <td class="center"><div
              class="sprite"
              :style="styling(trophy.imageIndex)"
            ></div></td>
            <td>{{ trophy.name }}</td>
            <td>{{ trophy.nameJP }}</td>
            <td class="center"><span v-if="trophy.smash" class="smash-pill">SMASH</span></td>
            <td class="center">{{ trophy.sortBy.normal }}</td>
            <td class="center">{{ trophy.sortBy.game }}</td>
            <td class="center">{{ trophy.sortBy.aZ }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
