@font-face {
  font-family: 'smash';
  src: url('../fonts/smash/smash-webfont.woff2') format('woff2'),
       url('../fonts/smash/smash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  background: #222;
  padding-top: 30px;
  color: #FFF;
  font-family: sans-serif;
}

h1,
h2 {
  font-family: 'smash', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin-top: 0px;
}

h1.jp {
  margin-top: 15px;
  font-size: 28px;
}
h2.jp {
  font-size: 19px;
  margin-top: 4px;
  margin-bottom: 22px;
}

a {
  color: #FFF;
}

button {
  background: #AAA;
  border: 0px;
  border-radius: 5px;
  margin: 3px 4px;
  padding: 7px;
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 100% 100%, 20% 100%, 0% 80%);
}
button:hover {
  background: #CCC;
}
button:active {
  background: #888;
}

table,
tfoot {
  width: 100%;
  max-width: 1090px;
  margin: 0px auto;
}
th {
  text-align: left;
}
tfoot {
  position: fixed;
  top: 0px;
  z-index: 2;
}
tfoot tr {
  background: #444;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
tbody tr {
  border-radius: 10px 0px 0px 0px;
  clip-path: polygon(
    0% 0%,
    95% 0%, 100% 5%,
    100% 100%, 100% 100%,
    5% 100%, 0% 95%,
    0% 5%
  );
}
tbody tr td {
  background-color: #333;
}
tbody tr td:first-of-type {
  border-radius: 3px 0px 0px 0px;
}
tbody tr td:last-of-type {
  border-radius: 0px 0px 3px 0px;
}
tbody tr:hover td {
  background-color: #444;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background: #5A4F48;
  margin-top: 20px;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
footer a {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  transition: 5s ease all;
}
footer a:hover {
  margin-bottom: 24px;
  font-size: 40px;
  letter-spacing: 3px;
}

.center {
  text-align: center;
}
.cursor {
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}

.wrapper {}
.sidebar,
.sidebar-video {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100vh;
}
.sidebar-video {
  object-fit: cover;
  z-index: 1;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
.view {
  margin: 0px 0px 0px 400px;
}

.sort-buttons-container {
  width: 400px;
  margin: 20px 0px;
}
.sort-button {
  position: relative;
  display: inline-block;
  background: transparent;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #257219;
  border-radius: 0px 100px 100px 0px;
  margin: 0px;
  margin-left: -25px;
  padding: 5px 5px 5px 32px;
  color: #257219;
  line-height: 1.18;
  clip-path: none;
  cursor: pointer;
}
.sort-button:hover {
  z-index: 1;
}
.sort-button:hover,
.sort-button.active {
  background: #4BB13F;
  border-color: #4BB13F;
  color: #4BB13F;
}
.jp.sort-buttons-container .sort-button:first-of-type
.sort-button:first-of-type {
  margin-left: 0px;
  padding-left: 9px;
}
.sort-button:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 24px;
  height: 37px;
  background: #257219;
  border-radius: 0px 100px 100px 0px;
  z-index: 2;
}
.sort-button:hover:after {
  background: #4BB13F;
}
.sort-button.active:after {
  top: 1px;
  right: 1px;
  height: 35px;
  background: #285F22;
}
.sort-button-inner {
  position: relative;
  display: inline-block;
  background: #111;
  border: 2px solid #257219;
  border-radius: 50px;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  z-index: 3;
}
.sort-button.active .sort-button-inner {
  border-color: #4BB13F;
}
.jp.sort-buttons-container .sort-button {
  padding-left: 28px;
  line-height: 1.6;
}
.jp.sort-buttons-container .sort-button:after {
  height: 36px;
}
.jp.sort-buttons-container .sort-button.active:after {
  height: 34px;
}
.jp.sort-buttons-container .sort-button-inner {
  font-size: 14px;
  line-height: 22px;
}


.logo-container {
  margin: 20px;
}
.logo,
.logo-dx {
  display: block;
  width: 100%;
  margin: 0px auto;
}
.logo {
  max-width: 220px;
  margin-bottom: 18px;
}
.logo-dx {
  max-width: 200px;
}

.go-to-top {
  position: fixed;
  right: 20px;
  bottom: 8px;
  font-size: 50px;
  text-decoration: none;
  z-index: 9;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.form-control {
  margin-top: 15px;
}
.form-control label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.trophy-link {
  color: #FFF;
  text-decoration: none;
}
.trophy-link svg {
  width: 24px;
  height: 24px;
  margin: 0px auto;
}
.trophy-link path {
  fill: rgba(255, 255, 255, 0.7);
}
.trophy-link:hover path {
  fill: rgba(255, 255, 255, 0.9);
}

.trophy-checkbox {
  width: 30px;
  height: 30px;
}
.trophy-link.compact svg,
.trophy-checkbox.compact {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  margin: 0px auto;
}

.acquired td,
.grid-item.acquired .sprite {
  background-color: #367B36;
}
button.active,
.acquired:hover td,
.grid-item.acquired:hover .sprite {
  background-color: #468B46;
}
button.active:hover {
  background-color: #66AB66;
}

.sprite {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../images/spritesheet.png');
  border-radius: 5px;
  margin-top: 2px;
  padding: 2px;
  clip-path: polygon(
    0% 0%,
    80% 0%, 100% 20%,
    100% 100%, 100% 100%,
    20% 100%, 0% 80%,
    0% 20%
  );
}
.sprite:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.smash-mini,
.smash-pill {
  background: #999;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0px 2px;
  color: #777;
  font-weight: 900;
}
.smash-mini {
  font-size: 10px;
}

.grid-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.grid-item {
  display: inline-block;
  margin: 14px;
}
.grid-name {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.grid-name.tiny {
  font-size: 12px;
}


.language-label {
  margin-bottom: 6px;
}
.language-label.jp {
  margin-top: -1px;
  margin-bottom: 4px;
}
.language-controls {
  position: relative;
  z-index: 2;
  font-size: 0px;
}
.flag-language-container,
.flag-language-container:hover,
.flag-language-container.active,
.flag-language-container.active:hover {
  background: transparent;
}
.flag-language-container {
  display: inline-block;
  width: 87px;
  padding: 0px;
  clip-path: none;
  cursor: pointer;
}
.flag-language-container.en {
  margin-left: 36px;
}

.flag-container {
  position: relative;
  height: 72px;
  width: 86px;
  border-radius: 5px;
}
.flag-container:after {
  content: '';
  position: absolute;
  bottom: -10px;
  display: block;
  height: 22px;
  width: 34px;
  z-index: 2;
}
.flag-container.jp:after {
  left: -7px;
  border-width: 0px 0px 2px 3px;
  transform: rotate(-45deg) skewX(-45deg);
  border-radius: 0px 0px 0px 6px;
}
.flag-container.en:after {
  right: -7px;
  border-width: 0px 3px 2px 0px;
  transform: rotate(45deg) skewX(45deg);
  border-radius: 0px 0px 6px 0px;
}
.flag.jp,
.flag.en {
  position: relative;
  top: 14px;
  max-height: 44px;
  opacity: 0.76;
  z-index: 3;
}
.flag.jp {
  left: 22px;
}
.flag.en {
  right: 5px;
}
.language-name {
  position: relative;
  width: 75px;
  height: 34px;
  border-radius: 8px;
  margin: 4px auto 0px auto;
  color: #FEFEFE;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  z-index: 20;
}
.language-name.jp {
  clip-path: polygon(4% 104%, -13.33% 84.12%, 33.33% -21%, 104% -4%, 104% 104%);
}
.language-name.en {
  clip-path: polygon(-4% -4%, 66% -21%, 113% 88%, 100% 120%, -4% 104%);
}
.language-name.jp:after,
.language-name.en:after {
  content: '';
  position: absolute;
  top: 6px;
  display: block;
  width: 28px;
  height: 2px;
}
.language-name.jp:after {
  top: 5px;
  left: -5px;
  width: 25px;
  transform: rotate(-45deg);
}
.language-name.en:after {
  right: -7px;
  transform: rotate(45deg);
}


.flag-container,
.flag-container:after {
  background: #21212B;
}
.flag-container,
.flag-container:after,
.language-name,
.language-name.jp:after,
.language-name.en:after {
  border: 2px solid #565659;
}
.language-name {
  color: #4B4B4B;
}

.flag-language-container:hover .flag-container,
.flag-language-container:hover .flag-container:after {
  background: #7A7873;
}
.flag-language-container:hover .flag-container,
.flag-language-container:hover .flag-container:after,
.flag-language-container:hover .language-name,
.flag-language-container:hover .language-name.jp:after,
.flag-language-container:hover .language-name.en:after {
  border-color: #C7C4BD;
}
.flag-language-container:hover .language-name {
  color: #B4B4B4;
}
.flag-language-container:hover .flag.jp,
.flag-language-container:hover .flag.en {
  opacity: 0.9;
}

.flag-language-container.active .flag-container,
.flag-language-container.active .flag-container:after {
  background: #7A5D29;
}
.flag-language-container.active .flag-container,
.flag-language-container.active .flag-container:after,
.flag-language-container.active .language-name,
.flag-language-container.active .language-name.jp:after,
.flag-language-container.active .language-name.en:after {
  border-color: #C78C1A;
}
.flag-language-container.active .language-name {
  color: #FEFEFE;
}
.flag-language-container.active .flag.jp,
.flag-language-container.active .flag.en {
  opacity: 1.0;
}

.flag-language-container.active:hover .flag-container,
.flag-language-container.active:hover .flag-container:after {
  background: #977333;
}
.flag-language-container.active:hover .flag-container,
.flag-language-container.active:hover .flag-container:after,
.flag-language-container.active:hover .language-name,
.flag-language-container.active:hover .language-name.jp:after,
.flag-language-container.active:hover .language-name.en:after {
  border-color: #D8981C;
}
.flag-language-container.active:hover .language-name {
  color: #FFF1D5;
}
.flag-language-container.active:hover .flag.jp,
.flag-language-container.active:hover .flag.en {
  opacity: 0.9;
}
