@font-face {
  font-family: 'smash';
  src: url('../fonts/smash/smash-webfont.woff2') format('woff2'),
       url('../fonts/smash/smash-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

body {
  background: #333;
  padding-top: 30px;
  color: #FFF;
  font-family: sans-serif;
}

h1,
h2 {
  font-family: 'smash', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

a {
  color: #FFF;
}

table,
tfoot {
  width: 100%;
  max-width: 1090px;
  margin: 0px auto;
}
th {
  text-align: left;
}
tfoot {
  position: fixed;
  top: 0px;
}
tfoot tr {
  background: #444;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo,
.logo-dx {
  display: block;
  width: 100%;
  margin: 0px auto;
}
.logo {
  max-width: 587px;
}
.logo-dx {
  max-width: 350px;
}

.go-to-top {
  position: fixed;
  right: 20px;
  bottom: 8px;
  font-size: 50px;
  text-decoration: none;
}

.sprite {
  display: inline-block;
  background-image: url('../images/spritesheet.png');
  border: 1px solid #AAA;
  margin: 6px;
  padding: 2px;
  color: #FFF;
  text-decoration: none;
}
.sprite:hover {
  background-color: #DDD;
  color: #000;
}

.smash-pill {
  background: #999;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0px 2px;
  color: #777;
  font-weight: 900;
}
